.house-background {
    -fx-background-image: url("../../images/Mansion.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}


.button-yellow {
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-color:  #c2a03d;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.button-white {
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

#rootPane {
    -fx-background-color: transparent;
}

#mainTitle, .header-text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 6, 0.5, 0, 1);
}

#subTitle, .subheader-text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 6, 0.5, 0, 1);
}


